body { 
    background-color: #ffffff;
}

#wrapper{
    width: 640px;
    margin: 0 auto;
    min-width: 640px;
    background-color: #ffffff;
    color : #089cfc;
    padding: 20px;
    border: solid 4px #089cfc;
    border-radius: 10px;
}

#navigation {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
    float: none;
    justify-content: center;
    align-items: center;
}

#section {
    margin-left: 150px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.logo { 
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer { font-size: .60em;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icone {
    width: 100px;
    height: 100px;
    object-fit: contain;
}